<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>寵則計畫</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon"/> <!--標籤頁圖示-->
    <link rel="stylesheet" src="{% static 'css/main.css' %}">
    <link rel="stylesheet" src="{% static 'css/index.css' %}"> 
</head>
<body class="body">
    <div class="content">
        <img class="index_logo" src="{% static 'images/logo.png' %}" alt="一張圖片">
        <img class="index_logo_word" src="{% static 'images/logo和標準字_裁切空白處.png' %}" alt="一張圖片">
        <p class="introduce">
            寵物測驗×養寵原則
        </p>     
        <div class="btn">
            <input type="button" class="btn_center" name="btn_center" value="領養中心" onclick="javascript:location.href='{%url 'select_animal_center'%}'">
            {% comment %} <input type="button" class="btn_common" name="btn_common" value="一般民眾" onclick="javascript:location.href='{%url 'select_animal_common'%}'"> {% endcomment %}
        </div>   
    </div>
</body>
</html>